.block-one{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.two {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -360px;
}
.circle-paper {
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}
.circle-scissors {
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.one {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
}
.circle-rock {
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  height: 230px;
  width: 230px; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}
.circle-small {
  background-color: whitesmoke;
  height: 180px;
  width: 180px; 
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
}
